﻿<div ng-app="myApp" ng-controller="formCtrl">
    <form class="pure-form pure-form-aligned" novalidate>
        <div class="pure-g">

            <div class="pure-u-1-2">
                <fieldset>
                    <legend>Employee</legend>
                    <div class="pure-control-group">
                        <label for="firstName">First Name</label>
                        <input id="firstName" type="text" placeholder="First Name" ng-model="employee.firstName">
                    </div>

                    <div class="pure-control-group">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" type="text" placeholder="Last Name" ng-model="employee.lastName">
                    </div>

                    <div class="pure-control-group">
                        <label for="salary">Salary</label>
                        <input id="salary" type="text" placeholder="Salary" ng-model="employee.salary">
                    </div>
                </fieldset>
            </div>

            <div class="pure-u-1-2">
                <fieldset>
                    <legend>Dependants</legend>

                    <section ng-repeat="dependant in employee.dependants" style="border: 1px solid #e5e5e5; padding: .5em; margin: .5em;">
                        <div class="pure-control-group">
                            <label for="dependantFirstName">First Name</label>
                            <input id="dependantFirstName-{{dependant.id}}" type="text" placeholder="First Name" ng-model="dependant.firstName">
                        </div>

                        <div class="pure-control-group">
                            <label for="dependantLastName">Last Name</label>
                            <input id="dependantLastName-{{dependant.id}}" type="text" placeholder="Last Name" ng-model="dependant.lastName">
                        </div>
                        <button class="button-warning pure-button button-xsmall" ng-click="deleteDependant(dependant.id)">Remove</button>
                    </section>

                    <section style="border: 1px solid #e5e5e5; padding: .5em; margin: .5em;">
                        <div class="pure-control-group">
                            <label for="dependantFirstName">First Name</label>
                            <input id="dependantFirstName" type="text" placeholder="First Name" ng-model="newDependant.firstName">
                        </div>

                        <div class="pure-control-group">
                            <label for="dependantLastName">Last Name</label>
                            <input id="dependantLastName" type="text" placeholder="Last Name" ng-model="newDependant.lastName">
                        </div>
                        <button class="pure-button pure-button-primary" ng-click="addDependant(newDependant)">Add</button>
                    </section>
                </fieldset>
            </div>
        </div>

        <div class="pure-control-group">
            <button type="button" ng-click="calculate()" class="pure-button pure-button-primary">Calculate</button>
        </div>
    </form>

    @*<p>employee = {{employee }}</p>
    <p>newDependant = {{newDependant }}</p>
    <p>report = {{report }}</p>*@

    <div class="pure-u-1-2">
        <fieldset>
            <legend>Benefit Cost Report</legend>
            <div class="pure-control-group">
                <label for="reportTotalCost"><b>Anual Cost:</b> </label>
                <span id="reportTotalCost">{{report.TotalCost | currency}}</span>
            </div>
            <div class="pure-control-group" ng-repeat="benefitReportItems in report.BenefitReportItems">
                <hr />
                <label for="reportTotalCost">Pay Period: </label><span id="reportPayPeriod">{{benefitReportItems.PayPeriod}}</span>
                <br />
                <label for="reportTotalCost">Cost for employee: </label><span id="reportEmployeeCostPerPayPeriod">{{benefitReportItems.EmployeeCostPerPayPeriod | currency}}</span>
                <p ng-if="benefitReportItems.DependantPerPayPeriod > 0">Dependants:</p>
                <ul>
                    <li ng-repeat="dependantPerPayPeriodItem in benefitReportItems.DependantPerPayPeriod track by $index">
                        {{dependantPerPayPeriodItem.FirstName}}: {{dependantPerPayPeriodItem.BenefitCostPerPayPeriod | currency}}
                    </li>
                </ul>
            </div>
        </fieldset>
    </div>

</div>

@section scripts{
    <script>
        var app = angular.module('myApp', []);
        app.controller('formCtrl', function($scope, $http) {

            $scope.addDependant = function(item) {
                console.log("addDependant");
                console.log(item);
                $scope.employee.dependants.push({ id: $scope.employee.dependants.length + 1, firstName: $scope.newDependant.firstName, lastName: $scope.newDependant.lastName });
                $scope.newDependant = { firstName: "", lastName: "" };
            };

            $scope.deleteDependant = function (dependantId) {
                console.log("deleteDependant");
                console.log(dependantId);
                $scope.employee.dependants = _.reject($scope.employee.dependants, function (objArr) { return objArr.id === dependantId; });
            };

            $scope.calculate = function() {
                console.log("calculate");
                var promise = $http.post("/home/calculate", $scope.employee, {});
                promise.success(function (data, status, headers, config) {
                    console.log(data);
                    $scope.report = data;
                });
                promise.error(function (data, status, headers, config) {
                    console("calculate failed!");
                });
            };

            $scope.employee = {
                id: 42,
                firstName: "John",
                lastName: "Smith",
                salary: 52000,
                dependants: [
                    { id: 1, firstName: "Timmy", lastName: "Smith" },
                    { id: 2, firstName: "Tommy", lastName: "Smith" },
                    { id: 3, firstName: "Tammy", lastName: "Smith" }
                ]
            };

            $scope.newDependant = { firstName: "", lastName: "" };

        });
    </script>
}
